@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_principal{
            background-color: #8B6F1E;
            color:white;
 }
.titulo_secundario{
             background-color: #2F4F2F;
             color: white;
}


.rodape {
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0); /*Cor de fundo*/
    color: rgb(255, 255, 255); /*Cor da Fonte*/
    font-family: Arial, Helvetica, sans-serif; /*Fonte do texto*/
    font-size: 16px;
}

#layout{
    font-size: 1em; /*Herda o tamanho do pai dele com um multiplicador*/
    display: flex;
    font-style: normal; /*Estilo da Fonte: italic - normal - oblique*/
    line-height: 25px; /*Espaçamento entre linhas*/
    font-weight:  400; /*Negrito em CSS 100 a 900 bold e bolder*/
    text-transform: none; /*Capitalização do texto : uppercase - lowercase e capitalize */
    text-decoration: none; /*Sublinhado de texto Underline, overline, line through (Double - dashed - dotted - wavy - none)*/
    word-spacing: none; /*Espaçamento entre palavras*/
    letter-spacing: none; /*Espaçamento entre letras*/
    text-indent: 20px; /*Espaçamento de paragrafo primeira linha*/
    text-align: justify; /*ALinhamento do Texto left - right - justify e center*/
}

nav a {
     text-decoration: none; 
}

#teste_estilo_lista_ul{
    list-style-type: square; /*disc, circle, square, none define o estilo de marcador da lista não ordenada (UL)*/

}

#teste_estilo_lista_ol{
    /*list-style-type: decimal; /*decimal - lower-roman - upper roman - lower-greek - lower-alpha - upper-alpha define o estilo de marcadores de listas ordenadas*/
    list-style-image: url(imagem/seta_direita_vermelha.png);
}

li{
    border: solid 3px orange; 
    list-style-position: outside; /*Ele Serve para dizer ao  navegador se o marcador da lista faz parte ou não do texto da lista: inside e outside*/
}

#impacto{
    background-image: url('imagem/senhordosaneis_fundo.jpg'); /*Carrega imagem ao fundo do elemento html*/
    background-repeat: no-repeat; /* no-repeat - repeat - repeat-y - repeat-x Configura a forma como a imagem ira repetir ao fundo do elemento html 
   /* background-position: center; /*right,left, top, bottom 
    width: 2000px;
    height: 1500px; */
    background-size: cover; /* Serve para definir COMO a imagem será exibida ao fundo do elemento html - contain - cover - px - % auto */
    background-attachment: scroll; /* Define como a imagem vai lidar com scroll ao fundo do elemento html - scroll e fixed */
    text-shadow: 3px 3px 2px red; /* Define a sombra do texto */

}

.noticia{
    border: solid 3px white;
    width: 200px;
    position: fixed; /*Define o posicionamento atras ou na frente dos elementos html: fixed, relative e static */
    z-index: 3 /* Define a ordem que o elemento vai ficar uns atras dos outos */;
    height: 100px;
    overflow: visible; /* Configura o comportamento de quando por exemplo um texto passa das bordas de um elemento HTML (da um overflox) visible/hidden/scroll/auto;*/
    box-shadow: 3px 3px 3px 3px orange; /*Define a sombra de um elemento html de bloco*/
}

h1{
    animation-name: multicolor;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards; /*forwards - backwards */
    animation-iteration-count: infinite; /*Quantidade de animações vezes / infinite */

}

@keyframes multicolor{
    from{color: red}
    to{color: blue;}
}

.animacao img{
    display: block;
    animation: foguete;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes foguete {
    0%{margin-left: 0%}
    25%{margin-left: 80%; transform: rotate(0deg)}
    50%{margin-left: 80%; transform: rotate(-120deg)} 
    75%{margin-left: 0%; transform: rotate(-120deg)}
    100%{margin-left: 0%; transform: rotate(0deg)}
}

.um{
    background-color: blue;
    top: 0px;
    left: 50px;
}

.dois{
    background-color: red;
    top: 100px;
    left: 150px;
}

.tres{
    background-color: green;
    top: 200px;
    left: 250px;
}


nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
    opacity: 0.7;
}

.transicao{
    background-color: white;
    border: solid 3px red;
    color: black;
    width: 300px;
    height: 300px;
    transition-duration: 3s; /*Define o tempo de transição*/
    transition-property: all; /*Define quais propriedades css irão entrar na transição*/
    transition-delay: 3s; /*Delay para iniciar a transição */
    transition-timing-function: ease-in; /* ease-in, ease-out, linear, ease, */
}

.transicao:hover{
    background-color: pink;
    width: 600px;
    color: blue;
}

#email:focus{
    background-color: green;
    color: white;
}